body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
a {
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
header {
  display: flex;
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}
.logo{
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}
.logo img{
  height: 50px;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
